body {
    background-color: #831111;
}
.app{
    width: 70%;
    margin: 100px auto;
    color: white;
    text-align: center;
    background-color: rgb(6, 6, 48);
    padding: 100px 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
h2{
    padding-bottom: 20px;
}
input, button,li{ 
    margin: 20px auto 0;
    width: 80% !important;
}
